body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #fffdf7;
  color: #4a3f35;
}

header {
  background: #d97706;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


.hero {
  text-align: center;
  padding: 2rem;
  background: #fde68a;
}

.contenedor-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.tarjeta {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 280px;
  text-align: center;
  padding: 1rem;
}

.tarjeta img {
  width: 80px;
}

footer {
  background: #78350f;
  color: white;
  text-align: center;
  padding: 1rem;
}
